/* ./src/style.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body[data-theme='default']{
        --color-bg: #0F172A;
        --color-text: #fff;
        --color-primary: #66FF33;
        --color-secondary: #31572C;
        --color-error: #FF4F63;
    }
    body[data-theme='light']{
        --color-bg: #ffffff;
        --color-text: #000;
        --color-primary: #3d85fe;
        --color-secondary: #d4d4d4;
        --color-error: #ff3333;
    }
}