/* ./src/style.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}


@layer base {
    body[data-theme='default']{
        --color-bg: #0F172A;
        --color-text: #fff;
        --color-primary: #66FF33;
        --color-secondary: #31572C;
        --color-error: #FF4F63;
        --color-key: #000;
        --color-white: #fff;
    }
    body[data-theme='light']{
        --color-bg: #EEE;
        --color-text: #000;
        --color-primary: #3d85fe;
        --color-secondary: #b4b4b4;
        --color-error: #ff3333;
        --color-key: #DDD;
        --color-white: #000;
    }
}


*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}